[submodule "external/vsi_common"]
	path = external/vsi_common
	url = https://github.com/visionsystemsinc/vsi_common.git
[submodule "dot_repos/20_dot_files"]
	path = dot_repos/20_dot_files
	url = https://github.com/andyneff/dot_files.git
[submodule "dot_repos/60_private_dot_files"]
	path = dot_repos/60_private_dot_files
	url = git@github.com:andyneff/dot_files_private.git
